body{
    margin: 0;
    padding: 0;
    font-family: 'EB Garamond', serif;
}

header{
    height: 10vh;
}

.d-flex img{
    width: 50px;
    height:50px;
    margin-top: -10px;
}

.nav{
    position:relative;
    overflow:hidden;
}

.nav .active .nav-link{
    color: white;
    background-color: #29422d;
    border-radius: 0px;
}

.nav-item a{
    font-size: 16px;
    color: #72683f;
}

.nav-item a:hover{
    color: #29422d;
}

/* Underline From Center */
.hvr-underline-from-center {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    position: relative;
    overflow: hidden;
  }
  .hvr-underline-from-center:before {
    content: "";
    position: absolute;
    z-index: -1;
    left: 50%;
    right: 50%;
    bottom: 0;
    background: #29422d;
    height: 4px;
    -webkit-transition-property: left, right;
    transition-property: left, right;
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
  }
  .hvr-underline-from-center:hover:before, .hvr-underline-from-center:focus:before, .hvr-underline-from-center:active:before {
    left: 0;
    right: 0;
  }

.hero{
    margin-top: 30px;
}

.hero .about_text{
    padding: 20px 50px 30px 30px;
    margin: 20px 0 20px 0;
    justify-content: left;
}

.hero h3{
    margin-bottom: 20px;
}

.hero .row{
    padding: 20px 0 20px 0;
    margin: 20px 0 20px 0;
    justify-content: left;
}

.row .our_story, .vision_mission{
    padding: 30px;

}

.gallery h1{
    text-align: center;
    margin: 50px 0 50px 0;
}

.gallery-images{
    width: 70%;
    left: 20%;
    position: relative;
}

.gallery .row .col-md-2 {
    margin: 0 0 25px 2px;
}

.gallery-images .hvr-grow {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
    -webkit-transition-property: transform;
    transition-property: transform;
  }
  .hvr-grow:hover, .hvr-grow:focus, .hvr-grow:active {
    -webkit-transform: scale(2.5);
    transform: scale(2.5);
  }

.faq{
    margin-bottom: 50px;
}

.faq h1{
    text-align: center;
    margin: 50px 0 50px 0;
}

footer{
    height:15vh;
    background-color:rgb(236, 242, 233);
}

footer .logo{
    height: 40px;
    width: 40px;
}